In [3]:
import pandas as pd

In [4]:
import numpy as np

In [16]:
Employee1 = pd.read_csv('1000Records.csv')

In [15]:
#print(df.to_string())

In [9]:
Emp = pd.DataFrame(df)

In [14]:
Emp.head(10)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
5,520092,Mr.,Lamont,L,Woods,M,lamont.woods@hotmail.com,Ignacio Woods,Beulah Woods,Trujillo,...,037-74-2595,236-597-8196,Purcellville,Loudoun,Purcellville,VA,20134,South,llwoods,8tf/YU}>s
6,795934,Ms.,Melinda,L,Lopez,F,melinda.lopez@hotmail.com,Leroy Lopez,Edna Lopez,Carter,...,541-83-6362,210-396-1493,Stowell,Chambers,Stowell,TX,77661,South,mllopez,hf*&Gcb[
7,159108,Mrs.,Shanna,U,Silva,F,shanna.silva@gmail.com,Eliseo Silva,Minnie Silva,Callahan,...,673-48-7003,236-373-6712,Herndon,Fairfax,Herndon,VA,20171,South,susilva,oudj2Bq4vc2_{PU
8,330816,Ms.,Jasmine,J,Freeman,F,jasmine.freeman@gmail.com,Hans Freeman,Renee Freeman,Mcbride,...,600-99-8437,423-796-1535,Ocoee,Polk,Ocoee,TN,37361,South,jjfreeman,Q.8<Q>K*H\*6f
9,532002,Ms.,Madge,V,Sargent,F,madge.sargent@aol.com,Luke Sargent,Judy Sargent,Herrera,...,177-86-7347,217-910-0644,Springfield,Sangamon,Springfield,IL,62712,Midwest,mvsargent,bc\&B81h

In [17]:
df = pd.DataFrame(Employee1)

In [20]:
df.info()  #to fetch how many column have in that data set and there index number. --indexing start from 0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Emp ID                  1000 non-null   int64
 1   Name Prefix             1000 non-null   object
 2   First Name              1000 non-null   object
 3   Middle Initial          1000 non-null   object
 4   Last Name               1000 non-null   object
 5   Gender                  1000 non-null   object
 6   E Mail                  1000 non-null   object
 7   Father's Name           1000 non-null   object
 8   Mother's Name           1000 non-null   object
 9   Mother's Maiden Name    1000 non-null   object
 10  Date of Birth           1000 non-null   object
 11  Time of Birth           1000 non-null   object
 12  Age in Yrs.             1000 non-null   float64
 13  Weight in Kgs.          1000 non-null   int64
 14  Date of Joining         1000 non-null   object
 15  Quarter of Joining      1000 non-null   object
 16  Half of Joining         1000 non-null   object
 17  Year of Joining         1000 non-null   int64
 18  Month of Joining        1000 non-null   int64
 19  Month Name of Joining   1000 non-null   object
 20  Short Month             1000 non-null   object
 21  Day of Joining          1000 non-null   int64
 22  DOW of Joining          1000 non-null   object
 23  Short DOW               1000 non-null   object
 24  Age in Company (Years)  1000 non-null   float64
 25  Salary                  1000 non-null   int64
 26  Last % Hike             1000 non-null   object
 27  SSN                     1000 non-null   object
 28  Phone No.               1000 non-null   object
 29  Place Name              1000 non-null   object
 30  County                  1000 non-null   object
 31  City                    1000 non-null   object
 32  State                   1000 non-null   object
 33  Zip                     1000 non-null   int64
 34  Region                  1000 non-null   object
 35  User Name               1000 non-null   object
 36  Password                1000 non-null   object
dtypes: float64(2), int64(7), object(28)
memory usage: 289.2+ KB

In [37]:
df.loc[0]

Emp ID                                   850297
Name Prefix                                 Ms.
First Name                               Shawna
Middle Initial                                W
Last Name                                  Buck
Gender                                        F
E Mail                    shawna.buck@gmail.com
Father's Name                      Rosario Buck
Mother's Name                       Keisha Buck
Mother's Maiden Name                  Hendricks
Date of Birth                        12/12/1971
Time of Birth                       06:34:47 AM
Age in Yrs.                               45.66
Weight in Kgs.                               44
Date of Joining                      12/18/2010
Quarter of Joining                           Q4
Half of Joining                              H2
Year of Joining                            2010
Month of Joining                             12
Month Name of Joining                  December
Short Month                                 Dec
Day of Joining                               18
DOW of Joining                         Saturday
Short DOW                                   Sat
Age in Company (Years)                     6.61
Salary                                   119090
Last % Hike                                 17%
SSN                                 222-11-7603
Phone No.                          702-771-7149
Place Name                            Las Vegas
County                                    Clark
City                                  Las Vegas
State                                        NV
Zip                                       89128
Region                                     West
User Name                                swbuck
Password                        ja8?k3BTF^]o@<&
Name: 0, dtype: object

In [29]:
df.loc[0].at['State']

'NV'

In [32]:
df.at[0,'State']

'NV'

In [38]:
df.iat[0,32]

'NV'